//TODO: move font stuff to some common location
@font-face{
    font-family: 'Sarabun';
    src: local('Sarabun'), url('../../fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
}

.recipe-form{
    background-color: #FFFFFF;
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    box-shadow: .2rem .35rem .35rem rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
    align-items: center;
    font-family: 'Sarabun';
}

.form-section {
    display: flex;
    flex-direction: row;
    margin: .25rem;
}
.form-input{
    margin: .25rem;
    display: flex;
    justify-content: space-between;
}

.form-input input {
    margin-left: 1rem;
    width: 5rem;
}

.form-input select {
    margin-left: 1rem;
    width: 5rem;
}